# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

#### Define style ####

# All files
[*]
indent_style = space

# C# Project files
[*.csproj]
indent_size = 2

#### Suppress warnings ####

# C# files
[*.cs]

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none    # Don't like static members

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none    # Not needed with .Net Core. More info https://devblogs.microsoft.com/dotnet/configureawait-faq/