@model ConfigurationPageModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@Model.Title</title>
</head>
<body>

    <partial name="~/Middlewares/DebugPages/Views/_PrintConfigurationPartial.cshtml" model="Model.Configuration" />

</body>
</html>
