@using System
@using System.Globalization
@using System.Linq
@using System.Net
@using System.Reflection
@using Microsoft.AspNetCore.Diagnostics.RazorViews
@using Microsoft.AspNetCore.Diagnostics
@model PrintConfigurationPageModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@Model.Title</title>
</head>
<body>

    <partial name="~/Middlewares/PrintConfigurationPage/Views/_PrintConfigurationPartial.cshtml" model="Model.Configuration" />

</body>
</html>
